<div class="container bg-light">
  <div class="row my-3">

    <div class="col-lg-8 order-lg-1 mb-3 no-paddings">
      <div class="row my-3"><b>Лог создания уровней:</b></div>
      <ul>
        <%# @log.each do |error| %>
          <li><%#= error %></li>
        <%# end %>
      </ul>
    </div>

  </div>
</div>
