<h1 class="center text_size">Тренировки за все время</h1>
<div class="container bg-light">
  <div class="row my-3">

    <div class="border col-lg-10 mb-3 buffer-top buffer-both-sm bg-white no-margins">
      <div>
        <% if @trainings.present? %>
          <% @trainings.each do |training| %>
            <% message = "#{ l training[:start_time], format: :my_format } - #{ training[:label] }"%>
            <div>
              <%= link_to message, training_path(training[:id]) %>
            </div> 
          <% end %>
        <% else %>
          У вас еще нет тернировок.
        <% end %>
      </div>
    </div>
    
  </div>
</div>