<h1 class="center text_size mt-2">Тренировки за все время
  <%= link_to 'На главную', trainings_path, class: "btn-sm btn-secondary mt-1 buffer-bottom for-mobile" %>
</h1>
<div class="container bg-light">
  <div class="row my-2">

    <div class="border col-lg-10 mb-3 buffer-top buffer-both-sm bg-white no-margins max_height_all_tr">
      <div>
        <% if @trainings.present? %>
          <% @trainings.each do |training| %>
            <% message = "#{ l training[:start_time], format: :my_format } - #{ training[:label] }"%>
            <div>
              <%= link_to message, training_path(training[:id]) %>
            </div> 
          <% end %>
        <% else %>
          У вас еще нет тренировок
        <% end %>
      </div>
    </div>
    
  </div>
</div>