<%= link_to(image_pack_tag("home.png", alt: 'home', class: 'img-home'), trainings_path, class: 'for-mobile buffer_top_home') %>
<h3 class="center text_size mt-2 head_color">Редактировать тренировку: <%= @training.label %></h3>
<div class="container bg-light borders-rounded">
  <div class="row my-3">
    <div class="col-12 col-md-10 mx-auto">
      <div>
        <%= render 'form', training: @training %>
      </div>
    </div>
  </div>
</div>
