<h3 class="center mt-2 head_color">Редактировать тренировку: <%= @training.label %></h3>
<div class="container bg-body-secondary borders-rounded lg_text">
  <div class="row">
    <div class="col-12 col-md-8 px-0 mx-auto">
      <%= render 'form', training: @training %>
    </div>
  </div>
</div>
