<h3 class='center  mt-2 head_color'>Ошибки</h3>
<div class="container bg-body-secondary borders-rounded lg_text">
  <div class="row">
    <div class="col-lg-8 mb-3 px-0">
      <div><%= @warning_message %></div>
      <div class="row my-1"><b>Ошибки во время импорта:</b></div>
      <ul>
        <% @statistics[2].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
