<div class="container bg-light">
  <div class="row my-3">

    <div class="col-lg-8 order-lg-1 mb-3 no-paddings">
      <div><%= @warning_message %></div>
      <div class="row my-3"><b>Ошибки во время импорта:</b></div>
      <ul>
        <% @statistics[2].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>

  </div>
</div>
