<h1 class="center text_size">Календарь тренировок</h1>
<div class="container bg-light">
  <div class="row my-3">

    <div class="col-lg-8 order-lg-1 mb-3 no-paddings">
      <h3>Ошибки во время импорта</h3>
      <div>
        <%= @warning_message %>
      </div>
      <%= @statistics[2] %>
    </div>
  
  </div>
</div>
