<h3 class="center text_size">Новая тренировка</h3>
<div class="container bg-light">
  <div class="row my-3">
    <div class="col-sm-12 col-md-10">
      
      <div>
        <%= render 'form', training: @training || @training = Training.new %>
      </div>

      <div class="my-3">
        <%= link_to 'Обратно', trainings_path %>
      </div>
    </div>
  </div>
</div>
