<h3 class="center mt-2 head_color">Новая тренировка</h3>
<div class="container bg-body-secondary borders-rounded lg_text">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <div>
        <%= render 'form', training: @training || @training = Training.new %>
      </div>
    </div>
  </div>
</div>
