<div class="center">
  <%= link_to @training.label, edit_training_path(@training), class: "h1" %></h1>
</div>

<div class="container bg-light">
  <div class="row my-3">
    <div class="col-lg-8 order-lg-1">
      <div class="border p-2 m-2">
              <div>
        Дата: <%= l @training.start_time, format: :my_format %>
      </div>
      <div class="my-3">
<%= render partial: 'exercises/exercise', collection: @training.exercises.except(@new_exercise) %>
          <% if @training.exercises.empty? %>
            Вы еще не внесли ни одного упражнения в эту тренировку
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-4 order-lg-1">
      <div class="border p-2 m-2">
      <div>Добавить упражнение</div>
      <div class="row mt-3">
        <div class="col-sm-12 col-md-12">
          <%= render partial: 'exercises/form', locals: {exercise: @new_exercise || @training.exercises.build} %>

                <div class="my-3">
      </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>