<%= form_with url: stat_statistics_path, method: :post do |form| %>
  <div class="form-group mt-3">
    <%#= form.collection_select :exercise_name_id, ExerciseNameVoc.all, :id, :label, prompt: '[Выберите упражнение]' %>


<%= form.select :exercise_name_id, @list %>


  </div>


  <div class="actions">
    <%= form.submit 'Показать график', class: 'btn btn-secondary mt-2' %>
  </div>
<% end %>
