<% unless @data.empty?  %>
  <% case @chart_id %>
    <% when 1 then%>
      <%= area_chart(@data, { theme: 'palette5' }) %>
    <% when 2 then  %> 
      <%= line_chart(@data) %>
    <% when 3 then  %> 
      <%= column_chart(@data, { theme: 'palette4' }) %>
  <% end %>
<% else %>
  <h4 class="center">В выбранном периоде упражнение не выполнялось</h4>
<% end %>
