<h3 class="center text_size mt-2">Достижения пользователя <%= current_user.name %></h3>
<div class="container my-bg-color">
  <div class="row my-3">
    <div class="col-lg-8 order-lg-1 mb-3">

      <div class="buffer-top">
        Текущий уровень в подтягиваниях: <%= current_user.exercise_name_vocs.where(label: "Подтягивания").to_a[0].exercises.last.level  %><br>
        Очки опыта в подтягиваниях: <%= current_user.exercise_name_vocs.where(label: "Подтягивания").to_a[0].exp.to_i  %><br>
        Следующий уровень в подтягиваниях: <%= current_user.exercise_name_vocs.where(label: "Подтягивания").to_a[0].exercises.last.next_level_exp %>
      </div>

    </div>
  </div>
</div>
