<h3 class="center text_size mt-2">Достижения пользователя <%= current_user.name %></h3>
<div class="container my-bg-color">
  <div class="row my-3">
    <div class="col-lg-8 order-lg-1 mb-3">

      <div class="buffer-top">

     </div>

    </div>
  </div>
</div>
