<h3 class="center mt-2 head_color">Редактирование профиля</h3>
<div class="container bg-body-secondary">
  <div class="row">
    <div class="col-10 col-lg-6 order-lg-1 mb-3 mx-auto">
      <%= render 'form', user: @user %>  
    </div>
  </div>
</div>