<%= link_to(image_pack_tag("home.png", alt: 'home', class: 'img-home'), trainings_path, class: 'for-mobile buffer_top_home') %>
<h3 class="center text_size mt-5 mt-lg-2 head_color">Редактирование профиля</h3>
<div class="container bg-light">
  <div class="row my-3">
    <div class="col-10 col-lg-6 order-lg-1 mb-3 lg_text mx-auto">
      <%= render 'form', user: @user %>  
    </div>
  </div>
</div>