<h3 class="center text_size mt-2 head_color">Редактирование профиля</h3>
<div class="container my-bg-color without_borders">
  <div class="row my-3">
    <div class="col-lg-6 order-lg-1 mb-3">
      <%= render 'form', user: @user %>

      <%= link_to('Обратно', user_path, class: 'btn btn-sm btn-secondary btn-width-my mt-2') %>    
    </div>
  </div>
</div>