<h1 class="center text_size">Редактировать название тренировки: <%= @exercise_name_voc.label %></h1>
<div class="container bg-light">
  <div class="row my-3">
    <div class="col-sm-12 col-md-6">
      <%= render 'form', exercise_name_voc: @exercise_name_voc %>
      
      <div class="my-3">
        <%= link_to 'Удалить', @exercise_name_voc, method: :delete, data: { confirm: 'Are you sure?' } %> |
        <%= link_to 'Обратно', exercise_name_vocs_path %>
      </div>
    </div>
  </div>
</div>
