<h3 class="center mt-2 head_color">Редактировать: <%= @exercise_name_voc.label %></h3>
<div class="container bg-body-secondary borders-rounded lg_text">
  <div class="row">
    <div class="col-12 col-md-8 px-0 mx-auto">
      <%= render 'form', exercise_name_voc: @exercise_name_voc || @exercise_name_voc = current_user.exercise_name_vocs.build(exercise_name_voc_params) %>
    </div>
  </div>
</div>
