<h3 class="center head_color mt-2">Список упражнений</h3>
<div class="container bg-body-secondary borders-rounded lg_text">
  <div class="row my-2 pt-2">
    <div class="col-lg-3 order-lg-2 order-sm-1 mt-2 mb-2 text-center">
      <%= link_to 'Создать новое упражнение', new_exercise_name_voc_path(@exercise_name_voc), class: 'btn btn-primary btn-sm mt-2' %>
    </div>  
    <div class="col-lg-8 mt-2 mb-3 order-lg-1 order-sm-2 max_height_all_tr ">
      <div class="border p-2 m-2 bg-white borders-rounded">
        <% @exercise_name_vocs.each do |exercise_name_voc| %>
          <div><%= link_to exercise_name_voc.label, edit_exercise_name_voc_path(exercise_name_voc) %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
