<h1 class="center text_size mt-2">Список упражнений
<%= link_to 'На главную', trainings_path, class: "btn btn-secondary mt-1 buffer-bottom for-mobile" %>
</h1>
<div class="container bg-light">
  <div class="row my-1 no-margins-row">

    <div class="col-lg-8 no-paddings no-margins">
      <div class="border p-2 m-2 my-bg-color">
      <div>Названия</div>
      <div class="my-3">
        <% @exercise_name_vocs.each do |exercise_name_voc| %>
          <div><%= link_to exercise_name_voc.label, edit_exercise_name_voc_path(exercise_name_voc) %></div>
        <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-4 no-paddings no-margins">
      <div class="border p-2 m-2 my-bg-color">
      <div>Создать новое упражнение</div>
      <div class="row mt-3">
        <div class="col-sm-12 col-md-12">
          <%= render partial: 'exercise_name_vocs/form', locals: {exercise_name_voc: @exercise_name_voc = ExerciseNameVoc.new }  %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
