<h3 class="center head_color mt-2">Новое упражение</h3>
<div class="container bg-body-secondary borders-rounded lg_text">
  <div class="row">
    <div class="col-12 col-md-8 px-0 mx-auto">
      <%= render 'form', exercise_name_voc: @exercise_name_voc %>
    </div>
  </div>
</div>
