.calendar {
  border-collapse: collapse;
  width: 100%;
  
  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 4px;
    border: 1px solid #999;
  }

  th {
    background: #f8f8f8;
    color: #000;
    text-align: center;
    width: 14.2857142857143%;
  }

  th:nth-last-child(1) { color: red; }
  th:nth-last-child(2) { color: red; }

  td {
    background: #FFF;
    color: #000;
    height: 80px;
    vertical-align: top;
    font-size: 16px;
  }

   td:hover {
    background:  #fcffd2;
    cursor: pointer;
   }

  td:nth-last-child(1) { color: red; }
  td:nth-last-child(2) { color: red; }

  a { color: #0000ff;
      overflow-wrap: anywhere;
  }

  .notmonth { 
    background-color: #f0f0f0; 
    color: #a3a3a3;
    overflow-wrap: anywhere;
  }

  .notmonth a { color:  #5e81f0; }
  .today { background-color: #eafecc; }

  .notmonth:nth-last-child(1) { color: #ff80ac; }
  .notmonth:nth-last-child(2) { color: #ff80ac; }
}

#month {
  padding-bottom: 0;
  text-align: center;
  font-size: 22px;
  margin: 15px;
  
  a {
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    background: #2f76fb;
    padding: 7px 20px;
    margin: 5px 10px;
  }
}

@media (max-width: 991px) {
.calendar {
  border-collapse: collapse;
  width: 100%;
  
  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 9px;
    padding-left: 3px;
    padding-top: 0;
    border: 1px solid #999;
    max-width: 18px;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
  }

  td {
    background: #FFF;
    color: #777;
    height: 86px;
    vertical-align: top;
    font-size: 70%;
    cellpadding: 0;

  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #eafecc; }
}

  #month {
    font-size: 12px;
    margin: 8px;

    a {
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    background: #2f76fb;
    padding:  7px 10px;
    margin: 2px 2px;
    }
  }
}
