.border_my {
  border: 1px solid #999 !important;
}

.borders-rounded {
  border-radius: 10px;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">" !important; /* Изменение разделителя breadcrumbs */
  color: #6c757d;
}

.btn-width-my {
  width: 200px;
}

.buffer-bottom {
  margin-bottom: -5px;
}

.cal-font {
  font-size: 13px;
  line-height: 0.9;
}

.center {
  text-align: center;
  margin-top: -3px;
}

.content {
  min-height: calc(100vh - 58px);
}

.copyright_my {
  color: black;
  opacity: 0.5;
  text-decoration: none;
}

.copyright_my:hover {
  text-decoration: none;
  color: black;
  opacity: 0.8;
}

.date-my {
  display: inline-block;
  font-size: 16px;
  max-height: 32px;
  max-width: 80px;
  margin-top: 0;
}

.date-width-my {
  max-width: 161px;
  width: 100%;
  padding-bottom: 0;
}

.desktop_fixed_height {
  height: 572px;
}

footer {
  height: 50px;
}

.head_color {
  color: #010b91;
}

.img-calendar {
  max-height: 30px;
  max-width: 30px;
}

.img-execise {
  max-width:20px;
}

.image-logo {
  float: left;
  margin: .9em 1em 1em .5em;
}

.img {
  max-width: 110px;
}

.img-home-white {
  max-width: 20px;
}

.lg_text {
  font-size: 90%;
}

.logo {
  width: 40px;
  height: auto;
  top: -1px;
}

.logo_color_light {
  opacity: 0.5;
}

.logo_color_dark {
  opacity: 1;
}

.max_height_all_tr {
  max-height: 400px;
  overflow: auto;
}

.not_curr_month_shading {
  opacity: 0.4;
}

.nowrap-btn {
  white-space: nowrap; /* Запрещает перенос текста */
}

#reset_filtr {
  display: none;
}

.select2-container--default {
  width: 100% !important;
}

.symbol_opacity {
  opacity: 0.2;
}

.table-buffers-vertical {
  padding: 0 !important;
  margin: 0 !important;
}

.tr-list-bg-color {
  background: #d8fbfc ;
}

.tr-width-my {
  max-width: 220px;
  width: 100%;
  font-size: 16px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  overflow-wrap: anywhere;
}

#trainings_list {
  margin-top: 50px;
}

.tr_display {
  display: inline-block;
}

.user_avatar {
  height: 70px;
  margin-top: 10px;
  border-radius: 70px;
}

.user_avatar_sm {
  height: 25px;
  border-radius: 15px;
}

.user_avatar_edit {
  border-radius: 250px;
  width: 30%;
}

@media (max-width: 1200px) {
  .btn-width-my {
    max-width: 180px;
  }
}

@media (max-width: 991px) {
  .buffer-bottom {
    margin-top: -20px;
  }

  .cal-font {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
  }

  .cal-font {
    font-size: 11px;
  }

  .date-my {
    display: inline-block;
  }

  .date-width-my {
    max-width: 118px;
    width: 100%;
    padding-bottom: 0;
    font-size: 14px;
  }

  .desktop_fixed_height {
    height: auto;
  }

  .img {
    max-width: 50px;
  }

  .img-calendar {
    max-height: 25px;
    max-width: 25px;
  }

  .img-execise {
    max-width:18px;
  }

  .img-home-white {
    max-width: 15px;
  }

  .lg_text {
    font-size: 80%;
  }

  .max_height_all_tr {
    max-height: 400px;
    overflow: auto;
  }

  .table-font-my {
    font-size: small;
  }

  #trainings_list {
    margin-top: 5px;
  }

  #train_title {
    font-size: 3px;
  }

  .user_avatar_sm {
    height: 30px;
    margin-top: 1px;
    border-radius: 15px;
  }
}
