.center {
  text-align: center;
  margin-top: -3px;
}

.bold {
  font-weight: bold;
}

.buffer-top {
  margin-top: 10px;
}

.buffer-bottom {
  margin-bottom: -5px;
}

.cal-buffer-left {
  margin-left: 30px;
}

.buffer-both-sm {
  margin-left: 35px;
  margin-right: 30px;
}

.cal-font {
  font-size: 12px;
}

.my-ul {
  padding-left: 20px;
}

.image-logo {
  float: left;
  margin: .9em 1em 1em .5em;
}

.img {
    max-width: 110px;
}

.my-bg-color {
  background:   #eef1f1 ;
}

h1  a {
    text-decoration: none !important;
    padding: 0 10px;
  }

.vertical-buffers {
  line-height: 160%;
}

.table-buffers-vertical {
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: 4px !important;
}

.for-mobile {
  display: none;
}

.field-width-my {
  max-width: 100%;
}

.date-my {
  display: inline-block;
}

.date-width-my {
  max-width: 160px;
  width: 100%;
  padding-bottom: 0;
  font-size: 22px;
}

.tr-width-my {
  max-width: 240px;
  width: 100%;
  padding-bottom: 1px;
  font-size: 20px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.btn-width-my {
  width: 211px;
}

.max_height_all_tr {
  max-height: 450px;
  overflow: auto;
}

.max_height_month_tr {
  max-height: 440px;
  overflow: auto;
}

.ex_buffer_both_my {
  margin-left: 18px;
  margin-right: 60px;
}

.top_line_my {
  border-top: 1px solid lightgrey;
}

@media (max-width: 991px) {
  .buffer-both-sm {
    margin-left: 10px;
    margin-right: 10px;
  }

  .buffer-top {
    margin-top: 5px;
  }

  .text_size {
    font-size: large;
  }

  .buffer-bottom {
    margin-top: -20px;
  }

  .cal-font {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
  }

  .no-paddings {
    padding: 0;
  }

  .no-margins {
    margin: 0;
  }

  .my-ul {
    padding-left: 14px;
  }

  .no-margins-row {
    margin: -15px;
  }

  .footer-buffer-top {
    margin-top: -15px;
  }

  .table-font-my {
    font-size: small;
  }

  .form-buffers-vertical {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .for-mobile {
  display: inline-block;
  position: absolute;
  right: 4px;
  top: -2px;
  }

.max_height_all_tr {
  max-height: 500px;
  overflow: auto;
  }

.max_height_month_tr {
  max-height: 350px;
  overflow: auto;
  }

.ex_buffer_both_my {
  margin-left: 0;
  margin-right: 0;
  }
}
