.center {
  text-align: center;
  margin-top: -3px;
}

.bold {
  font-weight: bold;
}

.buffer-top {
  margin-top: 30px;
}

.cal-buffer-left {
  margin-left: 30px;
}

.buffer-both-sm {
  margin-left: 35px;
  margin-right: 30px;
}

.cal-font {
  font-size: 12px;
}

@media (max-width: 991px) {
  .buffer-both-sm {
    margin-left: 10px;
    margin-right: 10px;
  }

  .buffer-top {
    margin-top: -14px;
  }

  .text_size {
    font-size: large;
  }

  .bg-light {
    background-color: white !important;
  }

  .buffer-bottom {
    margin-top: -20px;
  }

  .cal-font {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
  }

  .order-lg-1 {
    padding: 0;
  }
}
