<div>
  <p><%= exercise.exercise_name_voc.label %></p>
  <p>
    <div>
      Подходы:
      <%= exercise.quantity %>
    </div>
    <div>
      Заметки:
      <%= exercise.note %>
    </div>
      



      <%= link_to('Удалить', training_exercise_path(exercise.training, exercise), method: :delete, data: {confirm: t('.destroy_confirm')} ) %>


  </p>
</div>
