<div>
  <p><%= exercise.label %></p>
  <p>
    <span>
      <%= exercise.quantity %>
      <%= exercise.note %>
    </span>
      <%= link_to('Удалить упражнение', training_exercise_path(exercise.training, exercise), method: :delete, data: {confirm: t('.destroy_confirm')} ) %>
  </p>
</div>
