<h3 class="center mt-2">Редактировать упражнение</h3>
<div class="container bg-body-secondary borders-rounded lg_text">
  <div class="row">
    <div class="col-12 col-md-8 px-0 mx-auto">
      <%= render 'form', exercise: @exercise %>
    </div>
  </div>
</div>
