<%= link_to 'На главную', trainings_path, class: "h1 btn-sm btn-secondary mt-1 buffer-bottom for-mobile" %>
<h1 class="center text_size mt-1">Редактировать упражнение</h1>
<div class="container bg-light">
  <div class="row">
    <div class="col-lg-8 order-lg-1">
      <div class="my-3">
        <%= render 'form', exercise: @exercise %>
        </div>
        <div>
          <%= link_to 'Обратно', trainings_path %>
        </div>
    </div>
  </div>
</div>
