<%= link_to 'На главную', trainings_path, class: "h1 btn-sm btn-secondary mt-1 buffer-bottom for-mobile" %>
<h3 class="center text_size mt-1">Редактировать упражнение</h3>
<div class="container my-bg-color">
  <div class="row mb-3">
    <div class="col-lg-8 order-lg-1">
      <div class="mt-2">
        <%= render 'form', exercise: @exercise %>
        </div>
        <div class="mb-3">
          <%= link_to 'Обратно', trainings_path %>
        </div>
    </div>
  </div>
</div>
