<%= link_to(image_pack_tag("home.png", alt: 'home', class: 'img-home'), trainings_path, class: 'for-mobile buffer_top_home') %>
<h3 class="center text_size mt-5 mt-lg-2">Редактировать упражнение</h3>
<div class="container bg-light borders-rounded">
  <div class="row my-3">
    <div class="col-12 col-md-8 px-0 mx-auto">
      <%= render 'form', exercise: @exercise %>
    </div>
  </div>
</div>
